In [1]:
import pandas as pd

# Read in the datasets
df1 = pd.read_excel("F:\Career\Thesis Projects\Jupyter Notebook Files Arriva\Fuel_consumption_report.xlsx")
df2 = pd.read_excel('F:\Career\Thesis Projects\Jupyter Notebook Files Arriva\Trip_report.xlsx')
df3 = pd.read_excel('F:\Career\Thesis Projects\Jupyter Notebook Files Arriva\Idle_fuel_exception_report.xlsx')

# Convert date and time columns to datetime objects
df1['Date'] = pd.to_datetime(df1['Date'], format='%d-%m-%Y')
df2['Day'] = pd.to_datetime(df2['Day'], format='%a %d/%m')
df2['Start time'] = pd.to_datetime(df2['Start time'], format='%H:%M:%S')
df2['End time'] = pd.to_datetime(df2['End time'], format='%H:%M:%S')
df3['Date'] = pd.to_datetime(df3['Date'], format='%a %d-%m')
df3['Start time'] = pd.to_datetime(df3['Start time'], format='%H:%M:%S')
df3['End time'] = pd.to_datetime(df3['End time'], format='%H:%M:%S')

# Create three dataframes
df_fuel_consumption = df1[['Vehicle', 'Date', 'Distance [km]', 'Duration [h]', 'Standstill [h]', 'Fuel consumption [l]', 'Average fuel consumption [l/100km]', '+/- Reference (absolute) [l/100km]', '+/- Reference (relative) [%]', 'CO2 emission [kg]']]
df_driving_data = df2[['Vehicle', 'Day', 'Start time', 'End time', 'Start odometer [km]', 'Driver', 'Start location', 'Fuel consumption [l]', 'Average fuel consumption [l/100km]', '+/- Reference (absolute) [l/100km]', '+/- Reference (relative) [%]']]
df_idle_data = df3[['Vehicle', 'Date', 'Start time', 'End time', 'Idle time [h]', 'Wasted fuel [l]', 'CO2 emission [kg]', 'Location']]

C:\Users\shine\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [2]:
df_fuel_consumption.head()

,Vehicle,Date,Distance [km],Duration [h],Standstill [h],Fuel consumption [l],Average fuel consumption [l/100km],+/- Reference (absolute) [l/100km],+/- Reference (relative) [%],CO2 emission [kg]
0,1063 - MB KD 063,2022-07-06,582.0,11:22:00,03:38:00,157.04,27.0,-1.2,-4.3,416.1
1,1063 - MB KD 063,2022-07-16,584.1,09:56:00,02:05:00,153.81,26.3,-1.9,-6.7,407.6
2,1063 - MB KD 063,2022-07-26,583.1,12:35:00,04:50:00,160.44,27.5,-0.7,-2.5,425.2
3,1064 - MB KD 064,2022-07-07,540.6,10:58:00,03:11:00,142.74,26.4,23.1,700.0,378.3
4,1073 - MB FM 373,2022-07-01,0.3,00:07:00,00:05:00,0.33,110.0,79.4,259.5,0.9

In [3]:
df_driving_data.head()

,Vehicle,Day,Start time,End time,Start odometer [km],Driver,Start location,Fuel consumption [l],Average fuel consumption [l/100km],+/- Reference (absolute) [l/100km],+/- Reference (relative) [%]
0,1063 - MB KD 063,1900-07-06,1900-01-01 06:17:39,1900-01-01 06:51:25,1023876,21150 - Ahmo Hušidić,"Špadići, 52440 Porec, HR",0.17,170.0,141.8,502.8
1,1063 - MB KD 063,1900-07-06,1900-01-01 08:00:23,1900-01-01 10:32:05,1023876,21150 - Ahmo Hušidić,"Materada 38, 52440 Porec, HR",41.11,33.0,4.8,17.0
2,1063 - MB KD 063,1900-07-06,1900-01-01 11:09:37,1900-01-01 13:53:18,1024000,21150 - Ahmo Hušidić,"A1/E70/E61, 1370 Logatec, SI",40.93,24.1,-4.1,-14.5
3,1063 - MB KD 063,1900-07-06,1900-01-01 14:13:12,1900-01-01 14:16:09,1024170,NaN,"Arriva EAST, Meljska cesta 97, Maribor 2000, SI",0.17,170.0,141.8,502.8
4,1063 - MB KD 063,1900-07-06,1900-01-01 14:22:55,1900-01-01 19:51:50,1024170,21172 - Zvonko Vindiš,"Arriva EAST, Meljska cesta 97, Maribor 2000, SI",74.66,26.0,-2.2,-7.8

In [4]:
df_idle_data.head()

,Vehicle,Date,Start time,End time,Idle time [h],Wasted fuel [l],CO2 emission [kg],Location
0,1063 - MB KD 063,2022-07-06,1900-01-01 06:02:00,1900-01-01 06:09:00,00:07:00,0.22,0.6,"Špadići, 52440 Porec, HR"
1,1063 - MB KD 063,2022-07-06,1900-01-01 07:38:00,1900-01-01 08:00:00,00:23:00,0.76,2.0,"Materada 38, 52440 Porec, HR"
2,1063 - MB KD 063,2022-07-06,1900-01-01 08:00:00,1900-01-01 08:07:00,00:06:00,0.23,0.6,"Materada 38, 52440 Porec, HR"
3,1063 - MB KD 063,2022-07-06,1900-01-01 11:10:00,1900-01-01 11:15:00,00:05:00,0.25,0.7,"A1/E70/E61, 1370 Logatec, SI"
4,1063 - MB KD 063,2022-07-06,1900-01-01 13:16:00,1900-01-01 13:22:00,00:06:00,0.30,0.8,AP Maribor

In [5]:
#Data cleaning for Fuel Consumption Dataframe
# remove any rows with missing values
df_fuel_consumption.dropna(inplace=True)

# remove any rows with zero distance or duration
df_fuel_consumption = df_fuel_consumption[(df_fuel_consumption['Distance [km]'] != 0) & (df_fuel_consumption['Duration [h]'] != '00:00:00')]

# convert Duration and standstill columns to timedelta objects
df_fuel_consumption['Duration [h]'] = df_fuel_consumption['Duration [h]'].astype(str)
df_fuel_consumption['Standstill [h]'] = df_fuel_consumption['Standstill [h]'].astype(str)
df_fuel_consumption['Duration [h]'] = df_fuel_consumption['Duration [h]'].str.replace('-', '') # remove negative signs
df_fuel_consumption['Standstill [h]'] = df_fuel_consumption['Standstill [h]'].str.replace('-', '') # remove negative signs

df_fuel_consumption['Duration [h]'] = pd.to_timedelta(df_fuel_consumption['Duration [h]'])
df_fuel_consumption['Standstill [h]'] = pd.to_timedelta(df_fuel_consumption['Standstill [h]'])

# convert Fuel consumption column to float
df_fuel_consumption['Fuel consumption [l]'] = df_fuel_consumption['Fuel consumption [l]'].astype(float)

# convert CO2 emission column to float
df_fuel_consumption['CO2 emission [kg]'] = df_fuel_consumption['CO2 emission [kg]'].astype(float)

# drop any unnecessary columns
df_fuel_consumption = df_fuel_consumption.drop(['+/- Reference (absolute) [l/100km]', '+/- Reference (relative) [%]'], axis=1)

# rename columns to remove spaces and special characters
df_fuel_consumption = df_fuel_consumption.rename(columns={'Vehicle': 'vehicle', 'Date': 'date', 'Distance [km]': 'distance', 'Duration [h]': 'duration', 
                        'Standstill [h]': 'standstill', 'Fuel consumption [l]': 'fuel_consumption', 
                        'Average fuel consumption [l/100km]': 'average_fuel_consumption', 
                        'CO2 emission [kg]': 'co2_emission'})

# reset the index
df_fuel_consumption = df_fuel_consumption.reset_index(drop=True)

df_fuel_consumption.head()

,vehicle,date,distance,duration,standstill,fuel_consumption,average_fuel_consumption,co2_emission
0,1063 - MB KD 063,2022-07-06,582.0,0 days 11:22:00,0 days 03:38:00,157.04,27.0,416.1
1,1063 - MB KD 063,2022-07-16,584.1,0 days 09:56:00,0 days 02:05:00,153.81,26.3,407.6
2,1063 - MB KD 063,2022-07-26,583.1,0 days 12:35:00,0 days 04:50:00,160.44,27.5,425.2
3,1064 - MB KD 064,2022-07-07,540.6,0 days 10:58:00,0 days 03:11:00,142.74,26.4,378.3
4,1073 - MB FM 373,2022-07-01,0.3,0 days 00:07:00,0 days 00:05:00,0.33,110.0,0.9

In [6]:
#Data Cleaning for Driving Data Dataframe
# drop any irrelevant columns
df_driving_data = df_driving_data.drop(columns=['Vehicle', 'Driver', 'Start location', '+/- Reference (absolute) [l/100km]', '+/- Reference (relative) [%]'])

# rename the columns for easier access
df_driving_data = df_driving_data.rename(columns={'Day': 'date', 'Start time': 'start_time', 'End time': 'end_time', 'Start odometer [km]': 'start_odometer', 'Fuel consumption [l]': 'fuel_consumption', 'Average fuel consumption [l/100km]': 'average_fuel_consumption'})

# convert date, start_time, and end_time columns to datetime type
df_driving_data['date'] = pd.to_datetime(df_driving_data['date'])
df_driving_data['start_time'] = pd.to_datetime(df_driving_data['start_time'], format='%Y-%m-%d %H:%M:%S')
df_driving_data['end_time'] = pd.to_datetime(df_driving_data['end_time'], format='%Y-%m-%d %H:%M:%S')

# remove any rows with missing values
df_driving_data = df_driving_data.dropna()

# remove any rows with zero or negative fuel consumption values
df_driving_data = df_driving_data[df_driving_data['fuel_consumption'] > 0]

# calculate the distance traveled based on the odometer readings
df_driving_data['distance'] = df_driving_data['start_odometer'].diff().fillna(0)

# calculate the actual fuel consumption in liters per 100 kilometers
df_driving_data['actual_fuel_consumption'] = 100 * df_driving_data['fuel_consumption'] / df_driving_data['distance']

df_anomaly = df_driving_data[df_driving_data['actual_fuel_consumption'] >= 100]
# remove any rows with actual fuel consumption greater than 100 liters per 100 kilometers (anomaly)
df_driving_data = df_driving_data[df_driving_data['actual_fuel_consumption'] <= 100]

# reset the index
df_driving_data = df_driving_data.reset_index(drop=True)